.git
.github
.gitignore
.dockerignore
docker-compose.yml
Dockerfile
dockerfile
README.md
PRODUCTION_FEATURES.md
vendor
node_modules
storage/logs/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/data/*
public/storage
tests
.env
.env.example
.phpunit.result.cache