/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.example
.phpunit.result.cache
docker-compose.override.yml
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
/.pull-request-view
/auth.json
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.vscode
